<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Logos.Blog</title>
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <header>
                <nav class="navbar">
                    <ul>
                        <li> <a href="/">Logos.Blog</a></li>
                    </ul>
                </nav>
                <a href="/blog"><button class="nav-button btn">new Blog</button></a>
            </header>